In [13]:
import pandas as pd

# Replace 'your_file.csv' with the actual file path
file_path = 'finalsorted.csv'

try:
    # Try reading the CSV file with 'utf-8' encoding
    df = pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    # If an error occurs, try 'latin-1' encoding
    df = pd.read_csv(file_path, encoding='latin-1')

# Now you can work with the DataFrame 'df'
df

,latest_status,latest_location,shipment_id,ctime,location
0,Delivered,NaN,7b3d6c25-c28a-4b65-8023-d7fddfb1c6ec,2023-09-22 09:41:20,NaN
1,Delivered,NaN,7b3d6c25-c28a-4b65-8023-d7fddfb1c6ec,2023-09-22 17:07:04,"GURGAON, HARYANA, IN"
2,Delivered,NaN,7b3d6c25-c28a-4b65-8023-d7fddfb1c6ec,2023-09-23 08:40:45,"TAORU, HARYANA, IN"
3,Delivered,NaN,7b3d6c25-c28a-4b65-8023-d7fddfb1c6ec,2023-09-25 22:28:58,"BHIWANDI, MAHARASHTRA, IN"
4,Delivered,NaN,7b3d6c25-c28a-4b65-8023-d7fddfb1c6ec,2023-09-25 12:52:24,"Mumbai, MAHARASHTRA, IN"
...,...,...,...,...,...
671415,Shipment Delayed,"VIJ/LH1, Vijayawada, ANDHRA PRADESH",c40a9650-0498-435b-8bfd-15e19fec3ce3,2023-10-04 12:32:17,"HYD/LH1, Hyderabad, TELANGANA"
671416,Shipment Delayed,"VIJ/LH1, Vijayawada, ANDHRA PRADESH",c40a9650-0498-435b-8bfd-15e19fec3ce3,2023-10-04 22:16:13,"HYD/PC1, Hyderabad, TELANGANA"
671417,Shipment Delayed,"VIJ/LH1, Vijayawada, ANDHRA PRADESH",c40a9650-0498-435b-8bfd-15e19fec3ce3,2023-10-05 18:04:37,"HYD/LH1, Hyderabad, TELANGANA"
671418,Shipment Delayed,"VIJ/LH1, Vijayawada, ANDHRA PRADESH",c40a9650-0498-435b-8bfd-15e19fec3ce3,2023-10-05 01:19:44,"HYD/PC1, Hyderabad, TELANGANA"
671419,Shipment Delayed,"VIJ/LH1, Vijayawada, ANDHRA PRADESH",c40a9650-0498-435b-8bfd-15e19fec3ce3,2023-10-06 17:13:41,"VIJ/LH1, Vijayawada, ANDHRA PRADESH"

In [14]:
import pandas as pd

# Assuming df is your DataFrame
# Sort the DataFrame by 'shipment_id' and 'ctime'
df.sort_values(by=['shipment_id', 'ctime'], inplace=True)

# Identify the last row for each 'shipment_id'
last_rows = df.groupby('shipment_id').tail(1)

# Fill the 'location' column with 'latest_location' where 'location' is null or blank
mask = (last_rows['location'].isnull()) | (last_rows['location'] == '')
last_rows.loc[mask, 'location'] = last_rows['latest_location']

# Merge the updated last_rows back into the original DataFrame
df = pd.merge(df, last_rows[['shipment_id', 'ctime', 'location']], on=['shipment_id', 'ctime'], how='left', suffixes=('', '_update'))

# Fill missing values in the 'location' column with the updated values
df['location'].fillna(df['location_update'], inplace=True)
df.drop(columns=['location_update'], inplace=True)

# Display the updated DataFrame
print(df)

/var/folders/ph/hy7p9f292g51v2x9ggkbcnhw0000gn/T/ipykernel_1926/2418883556.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_rows.loc[mask, 'location'] = last_rows['latest_location']

       latest_status            latest_location  \
0         In Transit  DEL/LH1, Gurgaon, HARYANA
1         In Transit  DEL/LH1, Gurgaon, HARYANA
2         In Transit  DEL/LH1, Gurgaon, HARYANA
3         In Transit  DEL/LH1, Gurgaon, HARYANA
4         In Transit  DEL/LH1, Gurgaon, HARYANA
...              ...                        ...
671415     Delivered       PIMPRI AND CHINCHWAD
671416     Delivered       PIMPRI AND CHINCHWAD
671417     Delivered       PIMPRI AND CHINCHWAD
671418     Delivered       PIMPRI AND CHINCHWAD
671419     Delivered       PIMPRI AND CHINCHWAD

                                 shipment_id                ctime  \
0       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-03 09:49:36
1       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-04 09:20:18
2       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-04 17:07:48
3       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-04 20:06:48
4       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-05 01:43:07
...                                      ...                  ...
671415  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-26 20:02:00
671416  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-26 23:44:00
671417  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-27 02:20:00
671418  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-27 06:49:00
671419  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-27 10:59:00

                                    location
0          NBM/GHN, Navi Mumbai, MAHARASHTRA
1          NBM/GHN, Navi Mumbai, MAHARASHTRA
2       Panvel/HUB, Navi Mumbai, MAHARASHTRA
3            Bhiwandi, Bhiwandi, MAHARASHTRA
4            Bhiwandi, Bhiwandi, MAHARASHTRA
...                                      ...
671415                     DELHI OFFSITE HUB
671416                            MUMBAI HUB
671417                            MUMBAI HUB
671418                              PUNE HUB
671419                  PIMPRI AND CHINCHWAD

[671420 rows x 5 columns]

In [15]:
import pandas as pd

# Assuming df is your DataFrame sorted by 'shipment_id' and 'ctime'
df.sort_values(by=['shipment_id', 'ctime'], inplace=True)

# Identify the last row for each 'shipment_id'
last_rows = df.groupby('shipment_id').tail(1)

# Check if 'location' is null or blank in the last row for each 'shipment_id'
null_or_blank_rows = last_rows[(last_rows['location'].isnull()) | (last_rows['location'] == '')]

# Display the rows where the last 'location' is null or blank
print(null_or_blank_rows)

       latest_status latest_location                           shipment_id  \
564        Delivered             NaN  003e62f3-800a-4e5b-b922-c3b92dc36a07
667        Delivered             NaN  004795c8-1d79-45cf-8bce-2085a68fcefc
1402      In Transit             NaN  00976379-7cee-4f3d-adfe-dec9dc2dee8d
1619       Delivered             NaN  00ab1599-9842-4d42-8b02-339b4d824dce
2164       Delivered             NaN  00ddc592-0fcd-4176-8cfa-9102a2315b5d
...              ...             ...                                   ...
669491     Delivered             NaN  ff382143-e139-42c1-9567-da0bac62a85b
669816     Delivered             NaN  ff56905a-60d6-4f61-a5b1-46eb6db85f69
669832     Delivered             NaN  ff5a0801-8319-4ebb-8d53-bdd8ebe13e07
670906     Delivered             NaN  ffcf8bdd-9d45-4a43-bd6f-c7bd9c3dde70
671135     Delivered             NaN  ffe61d24-31c5-457b-acec-ff9051f775f7

                      ctime location
564     2023-09-23 09:09:07      NaN
667     2023-10-05 05:21:39      NaN
1402    2023-10-05 23:52:00      NaN
1619    2023-10-04 07:24:40      NaN
2164    2023-10-02 07:56:06      NaN
...                     ...      ...
669491  2023-09-27 12:16:31      NaN
669816  2023-09-22 07:28:17      NaN
669832  2023-09-28 06:07:59      NaN
670906  2023-10-05 06:15:37      NaN
671135  2023-09-22 03:10:34      NaN

[2376 rows x 5 columns]

In [16]:
import pandas as pd

# Assuming df is your DataFrame sorted by 'shipment_id' and 'ctime'
df.sort_values(by=['shipment_id', 'ctime'], inplace=True)

# Identify the last row for each 'shipment_id'
last_rows = df.groupby('shipment_id').tail(1)

# Check if 'location' is null or blank, 'latest_location' is not empty, and 'latest_location' is not null or blank
filtered_rows = last_rows[
    (last_rows['location'].isnull() | (last_rows['location'] == '')) & 
    (last_rows['latest_location'].notna() & (last_rows['latest_location'] != ''))
]

# Display the filtered rows
print(filtered_rows)

Empty DataFrame
Columns: [latest_status, latest_location, shipment_id, ctime, location]
Index: []

In [17]:
import pandas as pd

# Assuming df is your DataFrame
# Filter rows where 'location' is null or blank
rows_to_delete = df[(df['location'].isnull() | (df['location'] == '')) & 
                    (df['latest_location'].notna() & (df['latest_location'] != ''))]

# Drop the rows from the original DataFrame
df = df.drop(rows_to_delete.index)

# Display the updated DataFrame
print(df)

       latest_status            latest_location  \
0         In Transit  DEL/LH1, Gurgaon, HARYANA
1         In Transit  DEL/LH1, Gurgaon, HARYANA
2         In Transit  DEL/LH1, Gurgaon, HARYANA
3         In Transit  DEL/LH1, Gurgaon, HARYANA
4         In Transit  DEL/LH1, Gurgaon, HARYANA
...              ...                        ...
671415     Delivered       PIMPRI AND CHINCHWAD
671416     Delivered       PIMPRI AND CHINCHWAD
671417     Delivered       PIMPRI AND CHINCHWAD
671418     Delivered       PIMPRI AND CHINCHWAD
671419     Delivered       PIMPRI AND CHINCHWAD

                                 shipment_id                ctime  \
0       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-03 09:49:36
1       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-04 09:20:18
2       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-04 17:07:48
3       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-04 20:06:48
4       00012b9d-a9e8-49a6-86a8-015b5d3146cc  2023-10-05 01:43:07
...                                      ...                  ...
671415  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-26 20:02:00
671416  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-26 23:44:00
671417  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-27 02:20:00
671418  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-27 06:49:00
671419  fffeb0cf-e2c4-4983-bad0-0651a9ad4264  2023-09-27 10:59:00

                                    location
0          NBM/GHN, Navi Mumbai, MAHARASHTRA
1          NBM/GHN, Navi Mumbai, MAHARASHTRA
2       Panvel/HUB, Navi Mumbai, MAHARASHTRA
3            Bhiwandi, Bhiwandi, MAHARASHTRA
4            Bhiwandi, Bhiwandi, MAHARASHTRA
...                                      ...
671415                     DELHI OFFSITE HUB
671416                            MUMBAI HUB
671417                            MUMBAI HUB
671418                              PUNE HUB
671419                  PIMPRI AND CHINCHWAD

[668628 rows x 5 columns]

In [19]:


# Save the DataFrame to a CSV file
df.to_csv('sorted.csv', index=False)

In [22]:
import pandas as pd

# Load the CSV file into a DataFrame

df = pd.read_csv('sorted.csv')

# Drop rows where 'location' is 0, null, or blank
df = df[df['location'].notna() & (df['location'] != '') & (df['location'] != 0)]

# Save the modified DataFrame to a new CSV file

df.to_csv('sorted.csv', index=False)
df

,latest_status,latest_location,shipment_id,ctime,location
0,In Transit,"DEL/LH1, Gurgaon, HARYANA",00012b9d-a9e8-49a6-86a8-015b5d3146cc,2023-10-03 09:49:36,"NBM/GHN, Navi Mumbai, MAHARASHTRA"
1,In Transit,"DEL/LH1, Gurgaon, HARYANA",00012b9d-a9e8-49a6-86a8-015b5d3146cc,2023-10-04 09:20:18,"NBM/GHN, Navi Mumbai, MAHARASHTRA"
2,In Transit,"DEL/LH1, Gurgaon, HARYANA",00012b9d-a9e8-49a6-86a8-015b5d3146cc,2023-10-04 17:07:48,"Panvel/HUB, Navi Mumbai, MAHARASHTRA"
3,In Transit,"DEL/LH1, Gurgaon, HARYANA",00012b9d-a9e8-49a6-86a8-015b5d3146cc,2023-10-04 20:06:48,"Bhiwandi, Bhiwandi, MAHARASHTRA"
4,In Transit,"DEL/LH1, Gurgaon, HARYANA",00012b9d-a9e8-49a6-86a8-015b5d3146cc,2023-10-05 01:43:07,"Bhiwandi, Bhiwandi, MAHARASHTRA"
...,...,...,...,...,...
663344,Delivered,PIMPRI AND CHINCHWAD,fffeb0cf-e2c4-4983-bad0-0651a9ad4264,2023-09-26 20:02:00,DELHI OFFSITE HUB
663345,Delivered,PIMPRI AND CHINCHWAD,fffeb0cf-e2c4-4983-bad0-0651a9ad4264,2023-09-26 23:44:00,MUMBAI HUB
663346,Delivered,PIMPRI AND CHINCHWAD,fffeb0cf-e2c4-4983-bad0-0651a9ad4264,2023-09-27 02:20:00,MUMBAI HUB
663347,Delivered,PIMPRI AND CHINCHWAD,fffeb0cf-e2c4-4983-bad0-0651a9ad4264,2023-09-27 06:49:00,PUNE HUB
663348,Delivered,PIMPRI AND CHINCHWAD,fffeb0cf-e2c4-4983-bad0-0651a9ad4264,2023-09-27 10:59:00,PIMPRI AND CHINCHWAD

In [23]:
import pandas as pd


# Step 2: Drop the 'latest_location' column
df.drop(columns=['latest_location'], inplace=True)

# Step 3: Save the modified DataFrame to a new CSV file

df.to_csv('sorted.csv', index=False)